<!DOCTYPE html>
<html>
<head>
  <title>Donno</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<button id="install">インストール</button>

<%= yield %>

<script>
$("#install").click(function(){
	//var url = location.href;
	//alert("clicked");
	var manifestUrl = "http://" + location.host + '/manifest2.webapp';
	console.log(manifestUrl);
	var install = navigator.mozApps.install(manifestUrl);
	install.addEventListener('success', function() {
	    alert('Installed successfully.');
	}, false);
	install.addEventListener('error', function() {
	    alert('Install failed. ' + install.error.name);
	}, false);
});
</script>
</body>
</html>
